__pycache__
data/timit
data/na/
data/griko/
data/chatino/
data/japhug/
data/butcher/
exp/
*.swp
*.pyc
venv3/
testing/
persephone.egg-info/
data/
log.txt
.tox/
.pytest_cache/
.mypy_cache/
.coverage
settings.ini
